
.section-title::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 50%; /* Controls underline length */
    height: 4px;
    background-color: #4328c7;
    transition: width 0.3s ease;
}
.section-title:hover::after{
    width: 70%;
 
}
.services-cards{
    margin-top: -40px;
}
.btn-purple-container{
    align-items: center;
    text-align: center;
    padding: 30px;
}
