@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
:root {
  --primary: #4328c7;
  --black: #111;
  --white: #ffffff;
  --card: #f2f2f2;
  --bg-webzin: #4328c7;
}
.bg-webzin{
  background-color: var(--bg-webzin);
  color: var(--white);
}

html , body{
  background: var(--white);
  scroll-behavior: smooth;
}

.btn-purple {
  display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background: var(--primary);
    color: white;
    border-radius: 4px;
    font-weight: 600;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 1rem;
}
.btn-purple:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem 0;
  color: var(--primary);
  display: inline-block;
  position: relative;
  
}